.board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.square {
  padding: 20px;
  background: 0;
  border: 1px solid #ccc;
  height: 60px;
  width: 60px;
}

.square--highlight {
  background: #BFD
}